<div class="card-columns mt-5 animated fadeIn">
    <div class="card puntero" *ngFor="let item of items" (click)="goToArtist( item )">
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
                <span class="badge badge-pill badge-success" *ngFor="let artist of item.artists">{{artist.name}}</span>
            </p>
        </div>
    </div>
</div>