<app-loading *ngIf="loading"></app-loading>
<div class="row" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artist.images | noimage" alt="artist_image" class="img-thumbnail img-circle">
    </div>

    <div class="col" style="display: flex; flex-direction: column; justify-content: center;">
        <div>
            <h3> {{artist.name}} </h3>
            <p>
                <a [href]="artist.external_urls.spotify" target="_blank">
              Ver Artista
            </a>
            </p>
        </div>
    </div>

    <div class="col-4" style="display: flex; flex-direction: column; justify-content: center;">
        <button class="btn btn-outline-danger w-25" routerLink="/home"> Regresar </button>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <table class="table">

            <thead>
                <tr class="text-light text-center">
                    <th>Photo</th>
                    <th>Album</th>
                    <th>Song</th>
                    <th>Preview</th>
                </tr>
            </thead>

            <tbody class="text-light text-center">
                <tr *ngFor="let song of topTracks">
                    <td> <img [src]=" song.album.images | noimage " alt="track_image" class="img-thumb"> </td>
                    <td> {{ song.album.name }} </td>
                    <td> <span class="badge badge-pill badge-light">{{ song.name }}</span></td>
                    <td>
                        <!-- <audio [src]="song.preview_url" controls></audio> -->
                        <iframe [src]=" song.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
