<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h2>Error</h2>
    <p> {{errorMessage}} </p>
</div>

<app-cards [items]="newSongs"></app-cards>
