<div class="row">
    <div class="col">
        <input #term type="text" name="artist" id="artist_input" class="form-control" (keyup)="buscar(term.value)" placeholder="Search for Artists">
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn mt-5">
    <h2>Error</h2>
    <p> {{errorMessage}} </p>
</div>

<app-cards [items]="sArtists" *ngIf="!loading"></app-cards>
